* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F3F4F6;
}

.container {
    min-height: 100dvh;
    padding: 50px;

    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 20px;
}

header .new,
.submit  {
    border: none;
    padding: 20px 40px;
    color: white;
    background-color: #4361EE;
    border-radius: 10px;
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
}

.book-container .book {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    height: 300px;
}

dialog {
    border: none;
    border-radius: 12px;
    padding: 30px;
    width: 400px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: start;
}