* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F3F4F6;
}

.container {
    min-height: 100dvh;
    padding: 50px;

    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 20px;
}

header .new,
.submit,
.close {
    border: none;
    padding: 20px 40px;
    color: white;
    background-color: #4361EE;
    border-radius: 10px;
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    gap: 20px; 
    justify-content: center;
}

.book-container .book {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.book > div {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 10px;
}

.book > div button {
    padding: 15px;
    color: white;
    border: none;
    background-color: #75B06F;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
}

.book h3 {
    font-weight: 400;
}

.book p {  
    color: gray;
    font-size: 0.8rem;
    margin-top: 10px;
}

button:hover {
    transition: 0.125s;
    opacity: 0.8;
}

button:active {
    transition: 0.125s;
    opacity: 0.6;
}

.book .notRead {
    background-color: #4361EE;
}

.book .remove {
    background-color: #DC143C !important;
}

.remove::after {
    content: "Remove";
}


dialog {
    border: none;
    border-radius: 12px;
    padding: 40px;
    width: 400px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

dialog h2 {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 15px 10px;
}

form input[type=text],
form input[type=number] {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

form input[type=checkbox] {
    align-self: center;
    justify-self: flex-start;
}

form div {
    display: flex;
    gap: 10px;
}

.close {
    background-color: #DC143C;
}

