* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100dvh;
    background-color: #E8E2DB;
}

header {
    background-color: #547792;
    color: #FAB95B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

header nav ul li a {
    text-decoration: none;
    color: #FAB95B;
}

main {
    padding: 20px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.book-container .book {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

